*{
    margin: 10px;
    padding: 2px;
    box-sizing: border-box;
}
body{
    background-image: url(Imagenes/fondo.jpg);
}
#cabecera{
    margin: 1px;
    padding: 1px;
    /*Flexbox*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#cabecera img{
    border-radius: 50%;
}
#cabecera h1{
    color: blue;
    text-shadow: 5px 5px 15px;
    border: 5px solid white;
    background-color: white;
    margin: 5px;
    padding: 5px;
}
h3{
    text-align: right;
    margin: 5px;
}
h2{
    text-decoration: underline;
}
#titulo{
    padding: 20px;
}
p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 5px;
}
#contenido{
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contenidoizquierdo{
    border: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    background-color: beige;
}
.contenidoizquierdo h4{
    text-align: center;
    background-color: orange;
    margin: 20px;
    color: white;
    font-size: 24px;
}
.contenidoizquierdo img{
    width: 40%;
    display: block;
    margin: auto;
}
.contenidomedio{
    border: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 10px;
    background-color: aqua;
}
.contenidomedio img{
    width: 40%;
    display: block;
    margin: auto;
}
.contenidomedio h4{
    text-align: center;
    background-color: blue;
    margin: 20px;
    color: white;
    font-size: 24px;
}
.contenidoderecho{
    border: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
    margin: 10px;
    background-color: beige;
}
.contenidoderecho img{
    width: 40%;
    display: block;
    margin: auto;
}
.contenidoderecho h4{
    text-align: center;
    background-color: green;
    margin: 20px;
    color: white;
    font-size: 24px;
}
#casa img{
    width: 50%;
    display: block;
    margin: auto;
}
#pie p{
    border: 2px solid black;
    margin: 5px;
    box-shadow: 5px 5px 15px;
    background-color: white;
}